<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <meta name="description" content="">

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .bg-sidebar {
            background: #3d68ff;
        }

        .cta-btn {
            color: #3d68ff;
        }

        .upgrade-btn {
            background: #1947ee;
        }

        .upgrade-btn:hover {
            background: #0038fd;
        }

        .active-nav-link {
            background: #1947ee;
        }

        .account-link:hover {
            background: #3d68ff;
        }
    </style>
</head>

<body class="bg-gray-100 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
        <div class="p-6">
            <span class="text-white text-3xl font-semibold uppercase">Solver</span>
            <button class="modal-open w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
              <i class="fas fa-plus mr-3"></i> Edit Password
            </button>
        </div>
        <nav class="text-white text-base font-semibold pt-3">
            <button type="button" class="flex items-center bg-blue-800 w-full text-white py-4 pl-6"
                onclick="onRefreshToUser(event)"> <i class="fas fa-check-double mr-3"></i>ProblemSet</button>
            <button type="button" class="flex items-center text-white py-4 pl-6 w-full hover:bg-blue-500" onclick="onRefreshToRanking(event)"><i class="fas fa-award mr-3"></i>Ranking</button>
        </nav>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
            <div class="w-1/2"></div>
              <div class="relative w-1/2 flex justify-end">
                  <button type="button" class="bg-blue-500
                  text-blue-500
                  bg-transparent
                  border border-solid border-blue-500
                  hover:bg-blue-500 hover:text-white
                  active:bg-blue-600
                  font-bold
                  uppercase
                  text-sm
                  px-6
                  py-3
                  rounded-full
                  outline-none
                  focus:outline-none
                  mr-1
                  mb-1
                  ease-linear
                  transition-all
                  duration-150" onclick="onSignout(event)">Sign Out</button>
            </div>
        </header>

        <div class="w-full overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                
                <div class="grid grid-cols-2 divide-x mb-6 divide-gray-200">
                    <div>
                        <h1 class="text-3xl text-black pb-6">Advanced Search</h1>
                        <form action='/dashboard-user.html/' method="GET" id="asearch">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-5/6 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-state">
                                        Title Contains
                                    </label>
                                    <div>
                                        <input class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="titlec" placeholder="Enter text">
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-5/6 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-state">
                                        Difficulty
                                    </label>
                                    <div class="relative">
                                        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="diff" name="diff">
                                            <option></option>
                                            <option>Easy</option>
                                            <option>Medium</option>
                                            <option>Hard</option>
                                        </select>
                                        <div
                                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-state">
                                        Number of times solved
                                    </label>
                                    <div class="relative">
                                        <select
                                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                                            id="nots" name="nots">
                                            <option>equals</option>
                                            <option>less than</option>
                                            <option>greater than</option>
                                            <option>less than equal to</option>
                                            <option>greater than equal to</option>
                                        </select>
                                        <div
                                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <div class="w-5/6 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                            for="grid-state">
                                            Value
                                        </label>
                                        <div>
                                            <input
                                                class="bg-gray-200 appearance-none border border-gray-200 rounded w-full py-3 px-4 pr-8 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                                                id="value" placeholder="Enter text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Search"
                                class="bg-blue-500
                                text-blue-500
                                bg-transparent
                                border border-solid border-blue-500
                                hover:bg-blue-500 hover:text-white
                                active:bg-blue-600
                                font-bold
                                uppercase
                                text-sm
                                px-6
                                py-3
                                rounded
                                outline-none
                                focus:outline-none
                                mr-1
                                mb-1
                                ease-linear
                                transition-all
                                duration-150 cursor-pointer"
                                onclick="myFunction1(event)">
                        </form>
                    </div>
                <div>
                    <h1 class="text-3xl text-black pb-6 ml-6">Sort</h1>
                    <form action='/dashboard-user.html/' method="GET" id="sort">
                        <div class="flex flex-wrap -mx-3 mb-2">
                            <div class="w-5/6 px-3 mb-6 ml-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="grid-state">
                                    Sort with respect to
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                                        id="wrt" name="wrt">
                                        <option></option>
                                        <option>Num of time solved</option>
                                        <option>Difficulty Level</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-2">
                            <div class="w-5/6 px-3 mb-6 ml-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="grid-state">
                                    Order by
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                                        id="by" name="by">
                                        <option></option>
                                        <option>Ascending</option>
                                        <option>Descending</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Sort"
                            class="bg-blue-500
                            text-blue-500
                            bg-transparent
                            border border-solid border-blue-500
                            hover:bg-blue-500 hover:text-white
                            active:bg-blue-600
                            font-bold
                            uppercase
                            text-sm
                            px-6
                            py-3
                            rounded
                            outline-none
                            focus:outline-none
                            mr-1
                            mb-1
                            mt-2
                            ease-linear
                            transition-all
                            duration-150 ml-6 cursor-pointer"
                            onclick="myFunction2(event)">
                    </form>
                </div>
                </div>
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="
                            px-6
                            py-3
                            text-left text-xs
                            font-medium
                            text-gray-500
                            uppercase
                            tracking-wider
                            ">
                                Problem ID
                            </th>
                            <th scope="col" class="
                            px-6
                            py-3
                            text-left text-xs
                            font-medium
                            text-gray-500
                            uppercase
                            tracking-wider
                            ">
                                Title
                            </th>
                            <th scope="col" class="
                            px-6
                            py-3
                            text-left text-xs
                            font-medium
                            text-gray-500
                            uppercase
                            tracking-wider
                            ">
                                Times Solved
                            </th>
                            <th scope="col" class="
                            px-6
                            py-3
                            text-left text-xs
                            font-medium
                            text-gray-500
                            uppercase
                            tracking-wider
                            ">
                                Difficulty
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for problem in result %}
                        
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="ml-4">
                                        <div class="text-sm font-medium text-gray-900">

                                            {{ problem[0] }}

                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <button type="button" class="text-sm text-blue-500 underline"
                onclick="onProblem(event, {{problem[0]}})">{{problem[1]}}</button>
                                <!-- <a href='/view_problem_user?id={{problem[0]}}&token=' + window.sessionStorage.token>
                                    <div class="text-sm text-blue-500 underline">
                                        {{problem[1]}}
                                    </div>
                                </a> -->
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-500">
                                    {{ problem[3] }}
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                {% if problem[2] == 3 %}
                                <span class="
                              text-sm
                              px-2
                              font-medium
                              bg-red-500 bg-opacity-10
                              text-red-800
                              rounded
                              py-0.5
                              ">Hard</span>
                                {% elif problem[2] == 2 %}
                                <span class="
                              text-sm
                              px-2
                              font-medium
                              bg-yellow-500 bg-opacity-10
                              text-yellow-800
                              rounded
                              py-0.5
                              ">Medium</span>
                                {% elif problem[2] == 1 %}
                                <span class="
                              text-sm
                              px-2
                              font-medium
                              bg-green-500 bg-opacity-10
                              text-green-800
                              rounded
                              py-0.5
                              ">Easy</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
        <!-- <table>
            <tr>
                <th>Problem ID</th>
                <th>Difficulty</th>
                <th>Times Solved</th>
            </tr>
            {% for problem in result %}
        
                <tr>
                    <td><a href="/view_problem/{{problem[0]}}"> {{ problem[0] }} </a></td>
                    <td> {{ problem[1] }} </td>
                    <td> {{ problem[2] }} </td>
                </tr>
        
            {% endfor %}
         </table> -->

    </div>
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
            <div class="modal-container bg-white w-11/12 h-3/4 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <button class="modal-close ml-3 mt-3 fixed block"><i class="far fa-times-circle text-red-800"></i></button>
                <form method="POST" class="w-full max-w-lg p-8" id="editPassword">
                    <h1 class="text-xl text-black pb-6">Edit Password</h1>
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                          Previous Password
                        </label>
                        <textarea class="w-full px-3 py-2 bg-gray-200 text-gray-700 border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                          rows="1" id="prevPassword" name="id" placeholder="Enter previous password"></textarea>
                      </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                          New Password
                        </label>
                        <textarea
                          class="w-full px-3 py-2 bg-gray-200 text-gray-700 border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                          rows="1" id="newPassword" name="new" placeholder="Enter new password"></textarea>
                      </div>
                    </div>
                    <div class="flex justify-end pt-2">
                      <input type="submit" value="Update"
                        class="modal-close bg-blue-500
                        text-blue-500
                        bg-transparent
                        border border-solid border-blue-500
                        hover:bg-blue-500 hover:text-white
                        active:bg-blue-600
                        font-bold
                        uppercase
                        text-sm
                        px-4
                        py-2
                        rounded-full
                        outline-none
                        focus:outline-none
                        mr-1
                        mb-1
                        ease-linear
                        transition-all
                        duration-150 cursor-pointer w-full mt-3"
                        onclick="myFunction1(event)">
                    </div>
                </form>
        </div>
    </div>

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
        <script>
            var openmodal = document.querySelectorAll('.modal-open')
            for (var i = 0; i < openmodal.length; i++) {
              openmodal[i].addEventListener('click', function (event) {
                event.preventDefault()
                toggleModal()
              })
            }
        
            const overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', toggleModal)
        
            var closemodal = document.querySelectorAll('.modal-close')
            for (var i = 0; i < closemodal.length; i++) {
              closemodal[i].addEventListener('click', toggleModal)
            }
        
            document.onkeydown = function (evt) {
              evt = evt || window.event
              var isEscape = false
              if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc")
              } else {
                isEscape = (evt.keyCode === 27)
              }
              if (isEscape && document.body.classList.contains('modal-active')) {
                toggleModal()
              }
            };
        
        
            function toggleModal() {
              const body = document.querySelector('body')
              const modal = document.querySelector('.modal')
              modal.classList.toggle('opacity-0')
              modal.classList.toggle('pointer-events-none')
              body.classList.toggle('modal-active')
            }
        
            function toggle(x) {
              if (x === 1) {
                var clockButton = document.getElementById('addProblem');
                clockButton.style.display = "block"
                clockButton = document.getElementById('editProblem');
                clockButton.style.display = "none"
                clockButton = document.getElementById('createAdmin');
                clockButton.style.display = "none"
              }
              else if (x === 2) {
                var clockButton = document.getElementById('addProblem');
                clockButton.style.display = "none"
                clockButton = document.getElementById('editProblem');
                clockButton.style.display = "block"
                clockButton = document.getElementById('createAdmin');
                clockButton.style.display = "none"
              }
              else if (x === 3) {
                var clockButton = document.getElementById('addProblem');
                clockButton.style.display = "none"
                clockButton = document.getElementById('editProblem');
                clockButton.style.display = "none"
                clockButton = document.getElementById('createAdmin');
                clockButton.style.display = "block"
              }
            }
        </script>
    <script>
        async function myFunction1(e) {
            e.preventDefault()
            if (document.getElementById("titlec").value === '' && document.getElementById("diff").value === '' && document.getElementById("value").value === '') {
                alert("Oh bhaiiiii pura toh bharo")
            }
            else {
                window.location.assign('/dashboard-user.html?titlec=' + document.getElementById("titlec").value + '&diff=' + document.getElementById("diff").value + '&nots=' + document.getElementById("nots").value + '&value=' + document.getElementById("value").value + '&token=' + window.sessionStorage.token + '&formid=' + '0')
            }
        }
        async function myFunction2(e) {
            e.preventDefault()

            if (document.getElementById("wrt").value === '' || document.getElementById("by").value === '') {
                alert("Oh bhaiiiii pura toh bharo")
            }
            else {
                window.location.assign('/dashboard-user.html?wrt=' + document.getElementById("wrt").value + '&by=' + document.getElementById("by").value + '&token=' + window.sessionStorage.token + '&formid=' + '1')
            }
        }
        function onSignout(e) {
            e.preventDefault()
            window.sessionStorage.clear()
            window.location.replace('/')
        }
        function onRefreshToUser(e) {
            e.preventDefault()
            window.location.assign('/dashboard-user.html?token=' + window.sessionStorage.token)
        }
        function onRefreshToRanking(e) {
            e.preventDefault()
            window.location.assign('/view_ranking_user.html?token=' + window.sessionStorage.token)
        }
        function onProblem(e,id) {
            e.preventDefault()
            window.location.assign('/view_problem_user.html?id=' + String(id)+ '&token=' + window.sessionStorage.token)
        }
    </script>

</body>

</html>