<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/57777468f6.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Section 1 -->
    <a href="/" class="absolute z-20 w-1/4 py-4 pl-6 mt-4 md:pl-4 md:py-0">
        <i class="fas fa-home text-gray-400 text-3xl"></i>
    </a>
    <section class="w-full h-screen flex justify-center items-center bg-gray-100 xl:px-8">
        <div class="max-w-5xl mx-auto">
            <div class="flex flex-col items-center md:flex-row">
                <div class="w-full space-y-5 space-x-5 md:w-3/5 md:pr-16">
                    <img src="/res/signin.svg" class="w-full">
                </div>

                <div class="w-full mt-16 md:mt-0 md:w-2/5">
                    <form method="GET" id="signin-form">
                        <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                            <h3 class="mb-6 text-2xl font-medium text-center">Sign in to your Account</h3>

                            <input type="text" name="username" id='username'
                                class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
                                placeholder="Username">
                            <input type="password" name="password" id='password'
                                class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
                                placeholder="Password">
                            <label class="flex flex-row items-center justify-center space-x-3">
                                <input type="radio" name="selection" value="Admin"
                                    class="form-radio h-5 w-5 text-gray-600"><label for="admin"
                                    class="ml-2 text-gray-700">Admin</label>
                                <input type="radio" name="selection" value="Solver"
                                    class="form-radio h-5 w-5 text-gray-600"><label for="solver"
                                    class="ml-2 text-gray-700">Solver</label>
                            </label>
                            <p class="w-full mt-4 text-sm text-center text-gray-500">Don't have an account? <a
                                    href="/signup.html" class="text-blue-500 underline">Sign up here</a></p>
                            <input type="button" value="Sign in" class="w-full mt-6 px-3 py-4 cursor-pointer font-medium text-white bg-blue-600 rounded-lg"
                            onclick="myFunction()">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <script>
        async function myFunction() {
            const rbs = document.querySelectorAll('input[name="selection"]');
            var selectedValue;
            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue = rb.value;
                    break;
                }
            }

            if (selectedValue === undefined || document.getElementById("username").value === '' || document.getElementById("password").value === '') {
                alert("Oh bhaiiiii empty form")
            }
            else {
                // let data = {
                //     method: 'POST',
                //     headers: {
                //         'Accept': 'application/json',
                //         'Content-Type': 'application/json',
                //     },
                //     body: JSON.stringify({
                //         username: document.getElementById("username").value,
                //         password: document.getElementById("password").value,
                //         selection: String(selectedValue)
                //     })

                // }
                const reply = await fetch('/signin.html?username=' + document.getElementById("username").value + '&password=' + document.getElementById("password").value + '&selection=' + String(selectedValue))
                // alert(reply)
                if (reply.ok) {
                    const data = await reply.json()
                    if (data['valid'] === 'No') {
                        alert('Bhaiii pehle account create karo ya phir details theek enter karo')
                    }
                    else if (data['valid'] === 'Yes') {
                        window.sessionStorage.token = data['token']
                        // alert(data['token'])
                        // alert(window.sessionStorage.token)
                        if (data['type'] === 'Solver') {
                            window.location.replace('/dashboard-user.html?token=' + window.sessionStorage.token)
                        }
                        else if (data['type'] === 'Admin') {
                            window.location.replace('/dashboard-admin.html?token=' + window.sessionStorage.token)
                        }
                    }
                }
            }

        }
    </script>

</body>

</html>