<!DOCTYPE html>
<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
        <th
            scope="col"
            class="
            px-6
            py-3
            text-left text-xs
            font-medium
            text-gray-500
            uppercase
            tracking-wider
            "
        >
            Username
        </th>
        <th
            scope="col"
            class="
            px-6
            py-3
            text-left text-xs
            font-medium
            text-gray-500
            uppercase
            tracking-wider
            "
        >
            Full Name
        </th>
        <th
            scope="col"
            class="
            px-6
            py-3
            text-left text-xs
            font-medium
            text-gray-500
            uppercase
            tracking-wider
            "
        >
            Points
        </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    {% for problem in result %}
        <tr>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
            <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                
                {{ problem[0] }}
                
                </div>
            </div>
            </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-blue-500 underline">
            {{problem[1]}}
            </div>
    </td>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">
            {{ problem[2] }}
            </div>
        </td>
        </tr>
        {% endfor %}
        <!-- <tr class="bg-gray-50">
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
            <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                Nida Povey
                </div>
            </div>
            </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">CMO, Marketing</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">
            nida.povey@example.com
            </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            Admin
        </td>
        <td
            class="
            px-6
            py-4
            whitespace-nowrap
            text-right text-sm
            font-medium
            "
        >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
            >Edit</a
            >
        </td>
        </tr> -->
    </tbody>
    </table>
