<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <meta name="description" content="">

  <!-- Tailwind -->
  <!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }

    .bg-sidebar {
      background: #3d68ff;
    }

    .cta-btn {
      color: #3d68ff;
    }

    .upgrade-btn {
      background: #1947ee;
    }

    .upgrade-btn:hover {
      background: #0038fd;
    }

    .active-nav-link {
      background: #1947ee;
    }

    .nav-item:hover {
      background: #1947ee;
    }

    .account-link:hover {
      background: #3d68ff;
    }
  </style>
    <!-- {% if verdict != '' %}
    <script type="text/javascript">
      window.onload = function(){//window.addEventListener('load',function(){...}); (for Netscape) and window.attachEvent('onload',function(){...}); (for IE and Opera) also work
          alert('{{verdict}}')
      }
      </script>
      {% endif %} -->
</head>
<body class="bg-gray-100 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
          <span class="text-white text-3xl font-semibold uppercase">Solver</span>
      </div>
      <nav class="text-white text-base font-semibold pt-3">
          <button type="button" class="flex items-center w-full text-white py-4 pl-6 hover:bg-blue-500"
              onclick="onRefreshToUser(event)"> <i class="fas fa-check-double mr-3"></i>ProblemSet</button>
          <button type="button" class="flex items-center text-white py-4 pl-6 w-full hover:bg-blue-500" onclick="onRefreshToRanking(event)"><i class="fas fa-award mr-3"></i>Ranking</button>
      </nav>
    </aside>
  
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
          <div class="relative w-1/2 flex justify-end">
              <button type="button" class="bg-blue-500
              text-blue-500
              bg-transparent
              border border-solid border-blue-500
              hover:bg-blue-500 hover:text-white
              active:bg-blue-600
              font-bold
              uppercase
              text-sm
              px-6
              py-3
              rounded-full
              outline-none
              focus:outline-none
              mr-1
              mb-1
              ease-linear
              transition-all
              duration-150" onclick="onSignout(event)">Sign Out</button>
        </div>
        </header>
  
        <div class="w-full overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
            <!-- This example requires Tailwind CSS v2.0+ -->
              <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                  <h3 class="flex text-lg leading-6 font-medium text-gray-900 justify-center">
                    {{ problem[0] }}
                  </h3>
                  <p class="flex mt-1 text-sm text-gray-500 justify-center">
                    {{ problem[1] }} 
                    
                  </p>
                  <p class="flex mt-1 text-sm text-gray-500 justify-center">
                    Your max score for this problem is {{score}} 
                    
                  </p>
                </div>
                <div class="border-t border-gray-200">
                  <!-- <dl> -->
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Problem Statement
                      </h3>
                      <textarea class="mt-1 text-sm text-gray-900 bg-gray-50 sm:mt-0 sm:col-span-5" rows="20" disabled>{{ problem[3] }}</textarea>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Sample Input
                      </h3>
                      <textarea class="mt-1 text-sm text-gray-900 bg-white sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[4] }}</textarea>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Sample Output
                      </h3>
                      <textarea class="mt-1 text-sm text-gray-900 bg-gray-50 sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[5] }}</textarea>
                    </div>
                    <div class="px-4 py-5 sm:grid sm:gap-4 sm:px-6">
                      <h3 class="block text-lg leading-6 font-medium text-gray-900 underline">
                        Upload Code
                      </h3>
                      <form method='POST' enctype='multipart/form-data'>
                        <input type='file' id='inp' class="block
                        w-1/2
                        px-2
                        py-1
                        text-sm
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                        <input type='submit' value='Submit Code' class="bg-blue-500
                        text-blue-500
                        bg-transparent
                        border border-solid border-blue-500
                        hover:bg-blue-500 hover:text-white
                        active:bg-blue-600
                        font-bold
                        uppercase
                        text-sm
                        px-5
                        py-2  
                        mt-2
                        rounded
                        outline-none
                        focus:outline-none
                        mr-1
                        mb-1
                        ease-linear
                        transition-all
                        duration-150 cursor-pointer" onclick="file_func(event,{{problem[0]}})">
                      </form>
                    </div>

                  <!-- </dl> -->
                </div>
              </div>
            </main>
        </div>
    </div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<script>
  function onProblem(e) {
            e.preventDefault()
            window.location.assign('/dashboard-user.html?token=' + window.sessionStorage.token)
        }
        function onSignout(e) {
      e.preventDefault()
      window.sessionStorage.clear()
      window.location.replace('/')
    }
  async function file_func(e, id) {
      e.preventDefault()
      if (document.getElementById("inp").value === '') {
        alert("File to daalo bhaii")
      }
      
      else {
        const inp = document.getElementById('inp')
        const data = new FormData()
        data.append('file', inp.files[0])

        let dict = {
          method: 'POST',
          body: data
        }
        const reply = await fetch('/view_problem_user.html/?id=' + String(id) + '&token=' + window.sessionStorage.token, dict)
        if (reply.ok) {
          const d = await reply.json()
          alert(d['verdict'])
          window.location.replace('/view_problem_user.html/?id=' + String(id) + '&token=' + window.sessionStorage.token)
        }
      }
    }
    function onRefreshToUser(e){
        e.preventDefault()
        window.location.assign('/dashboard-user.html?token=' + window.sessionStorage.token)
    }
    function onRefreshToRanking(e){
        e.preventDefault()
        window.location.assign('/view_ranking_user.html?token=' + window.sessionStorage.token)
    }

</script>

</body>
</html>
