<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <meta name="description" content="">

  <!-- Tailwind -->
  <!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }

    .bg-sidebar {
      background: #3d68ff;
    }

    .cta-btn {
      color: #3d68ff;
    }

    .upgrade-btn {
      background: #1947ee;
    }

    .upgrade-btn:hover {
      background: #0038fd;
    }

    .active-nav-link {
      background: #1947ee;
    }

    .nav-item:hover {
      background: #1947ee;
    }

    .account-link:hover {
      background: #3d68ff;
    }
  </style>
</head>

<body class="bg-gray-100 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
        <span class="text-white text-3xl font-semibold uppercase">Admin</span>
      </div>
      <nav class="text-white text-base font-semibold pt-3">
          <button type="button" class="flex items-center w-full text-white py-4 pl-6 hover:bg-blue-500"
              onclick="onProblem(event)"> <i class="fas fa-check-double mr-3"></i>Problemset</button>
          <button class="flex items-center text-white py-4 pl-6 hover:bg-blue-500 w-full" onclick="onRefreshToRanking(event)"> <i class="fas fa-award mr-3"></i>View Ranking</button>
      </nav>
    </aside>
  
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
          <div class="relative w-1/2 flex justify-end">
              <button type="button" class="bg-blue-500
              text-blue-500
              bg-transparent
              border border-solid border-blue-500
              hover:bg-blue-500 hover:text-white
              active:bg-blue-600
              font-bold
              uppercase
              text-sm
              px-6
              py-3
              rounded-full
              outline-none
              focus:outline-none
              mr-1
              mb-1
              ease-linear
              transition-all
              duration-150" onclick="onSignout(event)">Sign Out</button>
        </div>
      </header>
  
      <div class="w-full overflow-x-hidden border-t flex flex-col">
          <main class="w-full flex-grow p-6">
            {% for problem in result %}
              <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                  <h3 class="flex text-lg leading-6 font-medium text-gray-900 justify-center">
                    {{ problem[0] }}
                  </h3>
                  <p class="flex mt-1 text-sm text-gray-500 justify-center">
                    {{ problem[1] }}
                  </p>
                </div>
                <div class="border-t border-gray-200">
                  <!-- <dl> -->
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Problem Statement
                      </h3>
                      <textarea class="mt-1 bg-gray-50 text-sm text-gray-900 sm:mt-0 sm:col-span-5" rows="20" disabled>{{ problem[3] }}</textarea>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Sample Input
                      </h3>
                      <textarea class="mt-1 bg-white text-sm text-gray-900 sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[4] }}</textarea>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <h3 class="text-lg leading-6 font-medium text-gray-900 underline">
                        Sample Output
                      </h3>
                      <textarea class="mt-1 text-sm text-gray-900 bg-gray-50 sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[5] }}</textarea>
                    </div>
                </div>
              </div>
              {% endfor %}  
            </main>
        </div>
    </div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<script>
  function onProblem(e) {
            e.preventDefault()
            window.location.assign('/dashboard-admin.html?token=' + window.sessionStorage.token)
        }
        function onSignout(e) {
      e.preventDefault()
      window.sessionStorage.clear()
      window.location.replace('/')
  }
  function onRefreshToRanking(e) {
    e.preventDefault()
    window.location.assign('/view_ranking_admin.html?token=' + window.sessionStorage.token)
  }
</script>

</body>
</html>
