<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <meta name="description" content="">

  <!-- Tailwind -->
  <!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }

    .bg-sidebar {
      background: #3d68ff;
    }

    .cta-btn {
      color: #3d68ff;
    }

    .upgrade-btn {
      background: #1947ee;
    }

    .upgrade-btn:hover {
      background: #0038fd;
    }

    .active-nav-link {
      background: #1947ee;
    }

    .nav-item:hover {
      background: #1947ee;
    }

    .account-link:hover {
      background: #3d68ff;
    }
  </style>
</head>

<body class="bg-gray-100 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
        <!-- <div class="p-6">
            <a href="/dashboard-user.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Home</a>
            <button class="modal-open w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center" onclick="toggle(1)">
            <i class="fas fa-plus mr-3"></i> Add Problem
            </button>
            <button class="modal-open w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center" onclick="toggle(2)">
            <i class="fas fa-edit mr-3"></i> Edit Problem
            </button>
        </div> -->
        <nav class="text-white text-base font-semibold pt-3">
            <a href="/dashboard-user.html" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
            <i class="far fa-question-circle mr-3"></i>
            Problemset
            </a>
        </nav>
    </aside>
  
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
            <div class="w-1/2"></div>
            <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
            <button @click="isOpen = !isOpen"
                class="realtive w-12 h-12 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                <i class="far fa-user-circle text-3xl text-blue-500 hover:text-blue-300"></i>
            </button>
            <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
            <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                <a href="/" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
            </div>
            </div>
        </header>
  
        <div class="w-full overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
            <!-- This example requires Tailwind CSS v2.0+ -->
            {% for problem in result %}
              <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                  <h3 class="flex text-lg leading-6 font-medium text-gray-900 justify-center">
                    {{ problem[0] }}
                  </h3>
                  <p class="flex mt-1 text-sm text-gray-500 justify-center">
                    {{ problem[1] }}
                  </p>
                </div>
                <div class="border-t border-gray-200">
                  <!-- <dl> -->
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <!-- <dt class="text-sm font-medium text-gray-500">
                        Full name
                      </dt> -->
                      <textarea class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-5" rows="20" disabled>{{ problem[3] }}</textarea>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <!-- <dt class="text-sm font-medium text-gray-500">
                        Application for
                      </dt> -->
                      <textarea class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[4] }}</textarea>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <!-- <dt class="text-sm font-medium text-gray-500">
                        Email address
                      </dt> -->
                      <textarea class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-5" rows="10" disabled>{{ problem[5] }}</textarea>
                    </div>
                    <!-- <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-5">
                        <article aria-label="File Upload Modal" class="relative h-full flex flex-col rounded-md" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" ondragenter="dragEnterHandler(event);">
                          <div id="overlay" class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center rounded-md">
                            <i>
                              <svg class="fill-current w-12 h-12 mb-3 text-blue-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                              </svg>
                            </i>
                            <p class="text-lg text-blue-700">Drop files to upload</p>
                          </div>

                          <section class="h-full overflow-auto p-8 w-full h-full flex flex-col">
                            <header class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                              <p class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                                <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
                              </p>
                              <input id="hidden-input" type="file" multiple class="hidden" />
                              <button id="button" class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                Upload a file
                              </button>
                            </header>

                            <h1 class="pt-8 pb-3 font-semibold sm:text-lg text-gray-900">
                              To Upload
                            </h1>

                            <ul id="gallery" class="flex flex-1 flex-wrap -m-1">
                              <li id="empty" class="h-full w-full text-center flex flex-col items-center justify-center items-center">
                                <img class="mx-auto w-32" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data" />
                                <span class="text-small text-gray-500">No files selected</span>
                              </li>
                            </ul>
                          </section>

                          <footer class="flex justify-end px-8 pb-8 pt-4">
                            <button id="submit" class="rounded-sm px-3 py-1 bg-blue-700 hover:bg-blue-500 text-white focus:shadow-outline focus:outline-none">
                              Upload now
                            </button>
                            <button id="cancel" class="ml-3 rounded-sm px-3 py-1 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                              Cancel
                            </button>
                          </footer>
                        </article>
                      </dd>
                    </div> -->
                    <form action='/run_code.html/{{ problem[0] }}' method=post enctype=multipart/form-data>
                      <input type=file name=file>
                      <input type=submit value=Upload>
                    </form>
                  <!-- </dl> -->
                </div>
              </div>
              {% endfor %}  
            </main>
        </div>
    </div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

</body>
</html>
